{:deps {aleph {:mvn/version "0.4.6"}
        integrant {:mvn/version "0.7.0"}}

 :paths ["src" "resources"]

 :aliases {:dev {:extra-deps {integrant/repl {:mvn/version "0.3.1"}}
                 :extra-paths ["dev"]}

           :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "0.1.5"}}}}}
