{:deps {expound/expound {:mvn/version "0.8.9"}
        integrant/integrant {:mvn/version "0.8.0"}
        metosin/reitit-core {:mvn/version "0.5.13"}
        metosin/reitit-middleware {:mvn/version "0.5.13"}
        metosin/reitit-ring {:mvn/version "0.5.13"}
        metosin/reitit-spec {:mvn/version "0.5.13"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        ring/ring-core {:mvn/version "1.9.3"}
        ring/ring-jetty-adapter {:mvn/version "1.9.3"}}

 :paths ["src" "resources"]

 :aliases {;; adds development dependencies/paths onto classpath
           :dev {:extra-paths ["dev"]
                 :extra-deps {integrant/repl {:mvn/version "0.3.2"}}}

           ;; starts REPL server at localhost:50505 (or 60606):
           ;;   clojure -X:repl/server [:port 60606]
           :repl/server {:exec-fn clojure.core.server/start-server
                         :exec-args {:name "repl-server"
                                     :port 50505
                                     :accept clojure.core.server/repl
                                     :server-daemon false}}

           ;; runs tests:
           ;;   clojure -M:test/run [--watch]
           :test/run {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.861"}}
                      :main-opts ["--main" "kaocha.runner"]}

           ;; creates uberjar:
           ;;   clojure -X:uberjar
           :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
                     :exec-fn hf.depstar/uberjar
                     :exec-args {:jar target/try_integrant.jar}}}}
