{:deps {aleph {:mvn/version "0.4.6"}
        integrant {:mvn/version "0.7.0"}
        metosin/reitit-core {:mvn/version "0.3.9"}
        metosin/reitit-middleware {:mvn/version "0.3.9"}
        metosin/reitit-ring {:mvn/version "0.3.9"}
        metosin/reitit-spec {:mvn/version "0.3.9"}}

 :paths ["src" "resources"]

 :aliases {:cider {:extra-deps {cider/cider-nrepl {:mvn/version "0.22.3"}}
                   :main-opts ["--main" "nrepl.cmdline"
                               "--middleware" "[cider.nrepl/cider-middleware]"]}

           :dev {:extra-paths ["dev"]}

           :ig {:extra-deps {integrant/repl {:mvn/version "0.3.1"}}}

           :uberjar {:extra-deps {uberdeps {:mvn/version "0.1.4"}}
                     :main-opts ["--main" "uberdeps.uberjar"]}}}
