{;;; services (storage)
 :app.storage.date-time/now {}

 ;;; web (http request handlers)
 :app.web.handlers/now {:prefix "It's "
                        :now #ig/ref :app.storage.date-time/now}

 :app.web.handlers/ping {:now #ig/ref :app.storage.date-time/now}

 :app.web.handlers/ring-handler {:routes
                                 ["/api"
                                  [["/now" {:get #ig/ref :app.web.handlers/now}]
                                   ["/ping" {:get #ig/ref :app.web.handlers/ping}]]]}

 :app.web.server/instance {:port 3000
                           :handler #ig/ref :app.web.handlers/ring-handler}}
