{;;; services (storage)
 :wiring/now-storage {}

 ;;; web (http request handlers)
 :wiring/now-handler {:prefix "time now"
                      :now #ig/ref :wiring/now-storage}

 :wiring/ping-handler {:now #ig/ref :wiring/now-storage}

 :wiring/add-handler {:now #ig/ref :wiring/now-storage}

 :wiring/ring-handler {}

 :wiring/server {:port 3000
                 :handler #ig/ref :wiring/ring-handler}}
